body{
    background-color: brown;
}
h1{
    color: black;
    text-align: center;
}
p{
    font-size: larger;
    text-align: justify;
}
h2{
    text-align: justify;
}
.imagem2{
    margin: auto 410px;
}
.h11{
    text-align: justify;
}
